#title-heading{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#cuerpo-detalle{
    font-size:18px;
}

#hr-proyectos{
    width: 60%;
    margin: 0 auto;
    color: rgb(255,193,7);
    position: relative;
    top: 0px;
    border: none;
    height: 5px;
    background: rgb(255,193,7);
    margin-bottom: 50px;
    opacity: 100%; 
}

#hr-actividades{
    width: 80%;
    margin: 0 auto;
    color: rgb(255,193,7);
    position: relative;
    top: 0px;
    border: none;
    height: 5px;
    background: rgb(255,193,7);
    margin-bottom: 50px;
    opacity: 100%; 
}